/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
 	background: #F4F4F4;
 }

 body {
 	font: normal 18px/1.5 "Helvetica Neue", sans-serif;
 	margin: 0 auto;
 	width: 900px;
 	background: #F4F4F4;
 }

 a {
 	color: #ff9c00;
 }
 
 p {
    margin: 16px 0 1px;
    margin-right: 36px;
}

 a img {
 	border: none;
 }

 .logo {
 	text-decoration: none;
 }

 .page {
 	padding: 50px 0;
 }

 header {
 	position: relative;
 	margin-bottom: 20px;
 }

 .row {
    margin-left: 3px;
    margin-right: -146px;
}

 header h1 {
 	display: inline-block;
 	line-height: 60px;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 	font-size: 36px;
 	font-weight: 100;
 	border-left: 1px solid #ccc;
 	margin: 0;
 	margin-left: 15px;
 	padding-left: 15px;
 }

 .button {
 	-webkit-transition: background .2s ease-in;
 	background: #ff9c00;
 	border: none;
 	border-radius: 5px;
 	color: #fff;
 	cursor: pointer;
 	font-size: 24px;
 	padding: 10px 20px;
 	text-transform: lowercase;
 }

 nav {
 	position: absolute;
 	right: 0;
 	top: 20px;
 }

 nav input {
 	font-size: 18px;
 	background: none;
 	border: none;
 	text-decoration: underline;
 	cursor: pointer;
 }

 nav li {
 	float: left;
 	list-style: none;
 	margin-left: 15px;
 }

 nav a {
 	color: #ff9c00;
 }

 ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 li:hover .actions {
 	opacity: 1;
 }


 .message {
 	border-radius: 5px;
 	color: #fff;
 	font-size: 24px;
 	padding: 10px 20px;
 }

 .notice {
 	background: #90CC26;
 }

 .alert {
 	background: #BE3605;
 }

 .error-messages li {
 	list-style: disc;
 	margin-left: 25px;
 }

 .error-messages p {
 	font-size: 24px;
 	margin-top: 0;
 }

 .error-messages {
 	border-left: 10px solid #EA5722;
 	padding: 0 0 5px 20px;
 	margin-bottom: 20px;
 }

 .field_with_errors label {
 	color: #bf3604;
 	font-weight: bold;
 }

 footer {
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  background: #fff;
 }

 footer p{
  margin: 0px 356px ;
  color: #999;
}

.footer > .container {
  border-top: 1px solid #DDD;
  padding-right: 15px;
  padding-left: 15px;
}

